<!DOCTYPE html>
<html>
<head>
    @{ 
        string seodesc = "";
        if (!string.IsNullOrEmpty(ViewBag.SeoDesc))
        {
            seodesc = ViewBag.SeoDesc;
        }
    }
    @model EverydayPower.Models.Get_Post_List
    <meta charset="utf-8" />
    <meta name="description" content="@seodesc">
    <meta name="keywords" content="HTML, Inspiration, Quotes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles/Index.css")
    @Styles.Render("~/Content/styles/content-style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/proper")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap")
    @Styles.Render("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap")
    @Scripts.Render("~/ckeditor/ckeditor.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/adapters/jquery.min.js")

    @*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">*@
</head>
<body>
   
    <!--Side Menu Pannel Start-->

    <div class="side-menubar hidden-ele">
        <div style="font-size:20px; width:80%;margin-top:1.5em;display:inline-block;" class="text-center">
            EVERYDAY POWER
        </div>
        <div class="custom_close">
            <span>X</span>
        </div>

    </div>

    <!--Side Menu Pannel End-->


    <div class="navbar company-div navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav mr-auto headList">
                </ul>
               
                <div style="float:right; padding-right:100px; padding-top:20px; font-size:25px;">
                    <a href="#" class="glyphicon glyphicon-user" alt="Login As Admin" style="position:absolute;top:20px;" id="login-user"></a>
                </div>
                <form class="search-icon" style="float:right; padding-right:100px; padding-top:20px; font-size:25px;">
                    <span class="glyphicon glyphicon-search"></span>
                </form>
                <form id="form-search">
                    <div style="float:right; padding-right:100px; padding-top:10px; font-size:25px; ">
                        <input type="button" class="btn btn-primary custom_btns" value="Search" id="btnSearch" />
                    </div>
                    <div style="float:right; padding-right:100px; padding-top:10px; width: 50%; font-size:25px; height:55px;">
                        <input type="text" id="txtSearchBox" class="form-control" placeholder="Search....." style=" height:45px;" />
                    </div>
                </form>

            </div>
            @if (ViewBag.Login == "valid")
            {
        <form method="get" action="@Url.Action("Logout" ,"Home")" id="form-login" class="row" style="float:right;border:1px solid #E8E8E8; border-radius:10px; background-color:	#F5F5F5;position:absolute;right:50px; width:400px; height:200px;padding-top:3em;">
            <div class="col-md-1"></div>
            <div class="col-md-9 text-center">
                <div class="row" style="padding-top:5px;">
                    <div class="col-md-6">
                        <input type="submit" class=" btn btn-primary form-control" id="form-btnlogout" name="Logout" value="Log Out" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" class=" btn btn-danger form-control close" id="form-btnClose" name="Close" value="Close" />
                    </div>
                </div>
                
            </div>
            <div class="col-md-2"></div>
        </form>
            }
            else
            {
                <form action="@Url.Action("Login" ,"Home")" id="form-login" class="row" style="float:right;border:1px solid #E8E8E8; border-radius:10px; background-color:	#F5F5F5;position:absolute;right:50px; width:400px; height:200px;padding-top:3em;">
                    <div class="col-md-1"></div>
                    <div class="col-md-9 text-center">

                        @*<input type="text" class="form-control" placeholder="Username" id="form-user" name="username" />*@

                        @Html.TextBoxFor(m => m.UserDetails.username, new { @placeholder = "Username", @id = "form-user", @name = "username", @class = "form-control" })

                        @*<input type="password" class="form-control" placeholder="Password" id="form-Password" name="password" />*@
                        @Html.TextBoxFor(m => m.UserDetails.password, new { @placeholder = "Password", @id = "form-Password", @name = "password", @class = "form-control" })

                        <div class="row" style="padding-top:5px;">
                            <div class="col-md-6">
                                <input type="submit" class=" btn btn-primary form-control" id="form-btnlogin" name="Login" value="Login" />
                            </div>
                            <div class="col-md-6">
                                <input type="button" class=" btn btn-danger form-control " id="form-btnClose" name="Close" value="Close" />
                            </div>
                        </div>
                        @if(ViewBag.attempt=="failed"){
                        <div>
                            <p style="color:red;">Invalid User!</p>
                        </div>
                        }

                    </div>
                    <div class="col-md-2"></div>
                </form>

            }

        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer class="text-center" style="height:28em;color:#606060;">
        <div style="background-color:#181818;margin:0px;height:50%;padding-top:1em;">
            <div style="height:2em;font-size:30px;">
                <span class="glyphicon glyphicon-log-in"></span>
            </div>
            <div class="text-center social-media">
                <span>
                    <a href="https://www.facebook.com/EverydayPowerOfficial/" target="_blank" class="fa fa-facebook-official" data-wpel-link="external" rel="follow"></a>
                </span>
                <span>
                    <a href="https://www.twitter.com/EverydayPowerOfficial/" target="_blank" class="fa fa-twitter-square" data-wpel-link="external" rel="follow"></a>
                </span>
                <span>
                    <a href="https://www.pintrest.com/EverydayPowerOfficial/" target="_blank" class="fa fa-pinterest" data-wpel-link="external" rel="follow"></a>
                </span>
                <span>
                    <a href="https://www.pintrest.com/EverydayPowerOfficial/" target="_blank" class="fa fa-instagram" data-wpel-link="external" rel="follow"></a>
                </span>
                <span>
                    <a href="https://www.pintrest.com/EverydayPowerOfficial/" target="_blank" class="fa fa-youtube-play" data-wpel-link="external" rel="follow"></a>
                </span>
                <span>
                    <a href="https://www.pintrest.com/EverydayPowerOfficial/" target="_blank" class="	fa fa-linkedin" data-wpel-link="external" rel="follow"></a>
                </span>
            </div>
            <div class="navbar navbar-expand-sm navbar-right bg-dark">

                <ul class="navbar-nav footer-links">
                    <li>
                        @Html.ActionLink("ABOUT US", "Index", "Home", new { area = "" })
                    </li>
                    @*<li>
                        @Html.ActionLink("ADVERTISE", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("SITEMAP", "About", "Home", new { @id = "dropdown-heading_Quotes" })
                        <div class="dropdown-body">
                            <div style="min-height:2em;position:absolute;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; width:12em;padding:0.6em;">Sagar</div>
                        </div>
                    </li>*@
                    <li>
                        @Html.ActionLink("CONTACT US", "Contact", "Home", new { @id = "dropdown-heading_TopReads" })
                        <div class="dropdown-body">
                            <div style="min-height:2em;position:absolute;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; width:12em;padding:0.6em;">Sagar</div>
                        </div>
                    </li>
                    @*<li>
                        @Html.ActionLink("WRITE FOR US", "Contact", "Home", new { @id = "dropdown-heading_Goals" })
                        <div class="dropdown-body">
                            <div style="min-height:2em;position:absolute;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; width:12em;padding:0.6em;">Sagar</div>
                        </div>
                    </li>*@
                    <li>
                        @Html.ActionLink("PRIVACY POLICY", "Contact", "Home", new { @id = "dropdown-heading_Contact" })
                        <div class="dropdown-body">
                            <div style="min-height:2em;position:absolute;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; width:12em;padding:0.6em;">Sagar</div>
                        </div>
                    </li>
                    <li>
                        @Html.ActionLink("TERMS OF SERVICE", "Contact", "Home", new { @id = "dropdown-heading_Career" })
                        <div class="dropdown-body">
                            <div style="min-height:2em;position:absolute;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; width:12em;padding:0.6em;">Sagar</div>
                        </div>
                    </li>

                </ul>
                <div style="width:800px; display:inline-block;"></div>

            </div>

        </div>
        <div style="background-color:black;height:50%;padding-top:1em;">
            <span>&copy; @DateTime.Now.Year - My ASP.NET Application</span>
            <p style="font-size:0.8em;">Exclusive Member of Mediavine Home</p>
        </div>
    </footer>
    <!--Search Screen-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
        $(document).ready(() => {
            $('#form-login').hide();
            $('#form-search').hide();

            $('#form-btnClose').click(function () {
                            $('#form-login').hide();

            });
            $('.glyphicon-user').click(function () {
                            $('#form-login').show();
            });


             $.ajax({
                url: '/Custom_Post/GetCategoryList',
                method: 'get',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                async:false,
                success: function (data) {
                    createNavbar(data);

                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });

            $(".dropdown-heading").hover(event => {
                var id = event.currentTarget.id;
                var selector = "#" + id;
                $(selector).next().show();
                $(selector).next().removeClass('hide');
                createListItems(selector);
            },
                event => {
                   
                });

                  $(".dropdown-body").hover(event => {
                

            },
                      event => {
                   event.currentTarget.classList.add("hide");
                });

            $(".custom_close").click(event => {
                debugger
                $(event.currentTarget.parentElement).hide();
            });
            $(".search-icon").click(event => {
                debugger
                $("#form-search").toggle("slow");
            });
            $(".menu-icon-hidden").click(function () {
                $(".side-menubar").show();
            });
        });


        var createNavbar = (data) => {
            debugger
            var arr = [];
            var count = 0;
            $('.headList').empty();
            var listHtml = `
                    <li>
                        @*@Html.ActionLink("EVERYDAY POWER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        <a href="@Url.Action("Index" ,"Home")" class="navbar-brand">EVERYDAY POWER</a>
                    </li>`;
            var subhtml = "";
            $.each(data.list, function (index, element) {
                if ($.inArray(arr, element.categoryId)==-1) {


                    arr[count] = element.categoryId;
                    count++;
                    subhtml = subhtml + `<li>
                        <a href="@Url.Action("Index" ,"Home")" class="dropdown-heading" value="`+ element.categoryId + `" id = "dropdown-heading_` + element.categoryName.replace(' ', '-') + `">` + element.categoryName.toUpperCase() + `</a>
                        <div class="dropdown-body">
                        </div>
                    </li>`;
                }
                debugger
            });

            listHtml = listHtml +
                subhtml + `
<li>
                        @*@Html.ActionLink("+ Create Post", "NewPost", "Custom_Post", new { @id = "dropdown-heading_Post", @class = "dropdown-heading"  })*@
                        @if (ViewBag.Login == "valid")
                        {
                        <a id="dropdown-heading_Post" class="" href="@Url.Action("NewPost" ,"Custom_Post")" >+ Create Post</a>
                        }
                    </li>
<li>
                        @*@Html.ActionLink("+ Create Post", "NewPost", "Custom_Post", new { @id = "dropdown-heading_Post", @class = "dropdown-heading"  })*@
                      
                        <a id="dropdown-heading_Faq" class="" href="@Url.Action("FAQ" ,"FAQ")" >FAQ</a>
                        
                    </li>

`;
            $('.headList').append(listHtml);
            $(".dropdown-body").hide();
            console.log(listHtml);
        }

        var createListItems = (selector) => {

            var categoryId = $(selector).attr('value');
            if (categoryId != undefined || categoryId != '') {
                $.ajax({
                    url: '/GetByCategoryId/' + categoryId,
                method: 'get',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                async:false,
                    success: function (data) {
                        $('.dropdown-body').empty();
                        $('.dropdown-body').css("position" ,"absolute");
                        var listItem = '';
                        $.each(data.list, function (index, element) {
                            listItem = listItem+ `<div onclick="location.href='/Quotes/`+element.seoUrl+`';" style="min-height:2em;position:relative;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; min-width:16em;padding:0.6em; ">
                                            `+ element.shortName + `
                                    </div>`;
                            debugger
                        });
                        
                       var x = `<div style="min-height:3em;position:relative;border-color:#bfbaba;border-style:solid; border-width:1px ; background-color:white; min-width:16em;padding:0.6em; "></div>`;
                        $(selector).next().append(listItem);
                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });
            }
        }
</script>
    <style>
        input{
            max-width:100%;
        }
    </style>
</body>
</html>
