@model EverydayPower.Models.Get_Post_List
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Content = "";
    string postTitle = "";
    string seoTitle = "";
    string category = "";
    string seoDesc = "";
    string shortName = "";
    string image = "no-image.jpg";
    string seoUrl = "";
    if (Model.list.Count>0)
    {
        ViewBag.Title = "Edit Post";
        foreach(var model in Model.list)
        {
            Content = model.postContent;
            postTitle = model.postUrl;
            seoTitle = model.seoTitle;
            category = model.category;
            seoDesc = model.seoDescription;
            shortName = model.shortName;
            image = model.postIconImage;
            seoUrl = model.seoUrl;
        }
    }
    else
    {
        ViewBag.Title = "Create New Post";
    }
}

<input type="hidden" id="content-hidden" value="@Content" />
    <div class="container-fluid custom_post_main_div" style="padding-top:30px;">
        <div class="form-group col-md-3">
            <label>Post Title</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txturl" name="url" placeholder="Enter Title of Post" class="form-control" value="@postTitle" disabled="disabled" />
            }
            else
            {
                <input type="text" id="txturl" name="url" placeholder="Enter Title of Post" class="form-control" value="@postTitle" />
            }
            <label>Post Category</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtcategory" name="category" placeholder="Enter Category of Post" class="form-control" value="@category" disabled />
            }
            else
            {
                <input type="text" id="txtcategory" name="category" placeholder="Enter Category of Post" class="form-control" value="@category" />
            }

            <label>Category Caption</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtcategoryname" name="categorycaption" placeholder="Enter Category Text to be displayed in capton" class="form-control" disabled />

            }
            else
            {
                <input type="text" id="txtcategoryname" name="categorycaption" placeholder="Enter Category Text to be displayed in capton" class="form-control" />
            }

            <label>Post Short Name</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtshortname" name="shortname" placeholder="Enter Short Name to be displayed in drop down" disabled value="@shortName" class="form-control" />

            }
            else
            {
                <input type="text" id="txtshortname" name="shortname" placeholder="Enter Short Name to be displayed in drop down" value="@shortName" class="form-control" />

            }

            <label>SEO Title</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtseotitle" name="seotitle" placeholder="Enter SEO Title" class="form-control" value="@seoTitle" disabled />

            }
            else
            {
                <input type="text" id="txtseotitle" name="seotitle" placeholder="Enter SEO Title" class="form-control" value="@seoTitle" />

            }

            <label>SEO Description</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtseodesc" name="seodesc" placeholder="Enter SEO Description" class="form-control" disabled value="@seoDesc" />
            }
            else
            {
                <input type="text" id="txtseodesc" name="seodesc" placeholder="Enter SEO Description" class="form-control" value="@seoDesc" />

            }


            <label>SEO URL</label>
            @if (ViewBag.Title == "Edit Post")
            {
                <input type="text" id="txtseourl" name="seourl" placeholder="Enter SEO URL" class="form-control" value="@seoUrl" disabled />

            }
            else
            {
                <input type="text" id="txtseourl" name="seotitle" placeholder="Enter SEO Title" class="form-control" value="@seoUrl" />

            }

        </div>
            @using (Html.BeginForm("FileUpload", "Custom_Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group col-md-6">
                    <label>Icon Image</label>
                    <div id="upldImagePreview"><img src="~/UploadImage/@image" style="height:150px; width:250px;"  /></div>
                    <div>
                        @Html.TextBox("file", "", new { @type = "file", @class = "form-control", @id = "uploadfile" })
                    </div>
                    @*<input type="file" id="imgfile" name="image" placeholder="Upload an Image" class="form-control" />*@
                    <input type="button" id="btnupload" name="upload" value="Upload" class="form-control btn btn-primary" />

                </div>

            }
        </div>

<textarea class="editor"></textarea>

<input type="button" id="btnCreatePost" class="btn btn-success" value="Create Post" style="margin-top:20px;height:40px; width:200px;"  />

<p class="preview-head">
    <span>
        Preview
    </span>
</p>

<div class="container container-content">

</div>

<div class="container container-save text-center">
    @if (ViewBag.Title == "Edit Post")
    {
        <input type="button" id="btnEdit" class="btn btn-success" value="Edit Post" disabled="disabled" />
    }
    else
    {
        <input type="button" id="btnSave" class="btn btn-success" value="Save Post" disabled="disabled" />
    }
</div>

<script>
    $('textarea.editor').ckeditor();
    $(document).ready(function () {
        debugger
     
         CKEDITOR.instances["editor1"].setData($("#content-hidden").val());
        $('#btnCreatePost').click(function () {
            var content = CKEDITOR.instances["editor1"].getData();
            $('.container-content').empty();
            if (content != "") {
               
                $('.container-content').css('color', 'black');
                $('.container-content').html(content);
                $('#btnSave').removeAttr('disabled');
                $('#btnEdit').removeAttr('disabled');
            }
            else {
                $('.container-content').css('color', 'red');
                $('.container-content').html("<h1>No Content to display!! Use Editor to Create Post...</h1>");
            }
        });

        $("#btnSave").click(event => {
            event.preventDefault();
            savePost();
        });

             $("#btnEdit").click(event => {
            event.preventDefault();
            editPost();
        });

        $("#imgfile").change(function (event) {
            debugger
            alert("A file has been selected.");
            $("#upldImage").css('background' ,'url()')
        });

        $("#btnupload").click(event => {
            event.preventDefault();
            if ($('#uploadfile').val() == '') {
                alert('Please select Profile Image');
                return;
            }
            var arrayValue = [];
            var objects = {};
            var formData = new FormData();

            //$('[type="text"').each(function () {
            //    //objects[$(this).attr("name")] = $(this).val

            //    formData.append($(this).attr("name"), $(this).val());

            //});
            debugger
            let file = $('#uploadfile')[0];
            formData.append("ProfileImage", file.files[0]);
            var data = JSON.stringify(objects);

            $.ajax({
                url: '@Url.Action("FileUpload" ,"Custom_Post")',
                method: 'post',
                contentType: false,
                processData: false,
                data: formData,
                async:false,
                cache: false,
                success: function (data) {
                    console.log(data);
                    $("#upldImagePreview>img").attr("src", "../../UploadImage/" + data.imageName + "");
                    $("#upldImagePreview>img").attr("height", "200");
                    $("#upldImagePreview>img").attr("width", "250");
                    
                    $("#upldImagePreview").css("margin-bottom", "20px");
                    $("#upldImagePreview").attr('value', JSON.stringify( data ));
                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });
        });
    });

    var savePost = () => {
        var content = CKEDITOR.instances["editor1"].getData();
        var imageJSON = JSON.parse($("#upldImagePreview").attr('value'));
        var title = $("#txturl").val();
        var category = $("#txtcategory").val();
        var categoryName = $("#txtcategoryname").val();
        var shortName = $("#txtshortname").val();
        var seoTitle = $('#txtseotitle').val();
        var seoDescription = $('#txtseodesc').val();
        var seoUrl = $('#txtseourl').val();

        var postobj =
        {
            postUrl: title,
            postContent: content,
            fileAttachmentCode: imageJSON.fileAttachmentCode,
            category: category,
            categoryName: categoryName,
            shortName: shortName,
            seoTitle: seoTitle,
            seoDescription: seoDescription,
            seoUrl:seoUrl
        }
        var data = JSON.stringify(postobj);

            $.ajax({
                url: '/Custom_Post/Post',
                method: 'post',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                data: data,
                async:false,
                cache: false,
                success: function (data) {
                    debugger
                    console.log(data);
                    CKEDITOR.instances.editor1.setData("");
                    $("#upldImagePreview").attr('value', '');
                    $("#upldImagePreview>img").attr("src", "none");
                    $("#upldImagePreview>img").css("height", "0");
                    $("#upldImagePreview>img").css("width", "0");
                    $('.container-content').html('');
                    $('#uploadfile').val('');
                    $("#txturl").val('');
                    $("#txtcategory").val('');
                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });
        console.log();
    }

        var editPost = () => {
        var content = CKEDITOR.instances["editor1"].getData();
        var seoUrl = $('#txturl').val();

        var postobj =
        {
            postContent: content,           
            seoUrl: seoUrl
        }
        var data = JSON.stringify(postobj);

            $.ajax({
                url: '/Custom_Post/Update',
                method: 'post',
                contentType: "application/json",
                dataType:"json",
                processData: false,
                data: data,
                async:false,
                cache: false,
                success: function (data) {
                    debugger
                    console.log(data);
                    CKEDITOR.instances.editor1.setData("");
                    $("#upldImagePreview").attr('value', '');
                    $("#upldImagePreview>img").attr("src", "none");
                    $("#upldImagePreview>img").css("height", "0");
                    $("#upldImagePreview>img").css("width", "0");
                    $('.container-content').html('');
                    $('#uploadfile').val('');
                    $("#txturl").val('');
                    $("#txtcategory").val('');
                },
                error: function () {
                    alert("Error   " + apidomainurl + 'UpdateUsers');
                }
            });
        console.log();
    }

</script>